{% extends "base.html" %}

{% block title %}SK Data{% endblock %}

{% block content %}
<!-- Content specific to the main page goes here -->
<style>
    table {
        width: 100%; /* 테이블이 셀의 너비에 맞게 확장 */
        border-collapse: collapse; /* 테이블 셀 경계가 겹치지 않게 설정 */

    }
    th, td {
        border: 1px solid #ddd; /* 테이블 셀 경계 설정 */
        padding: 8px; /* 셀의 여백 설정 */
        text-align: left; /* 텍스트 정렬 설정 */
    }
    thead tr th {
        background-color: #d3d3d3; /* 원하는 색상으로 설정 */
    }
    .form-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: auto;
        margin-bottom: 5px;
        padding: 20px;
        margin-top: -8px; /* 상단 여백 조정 */
        margin-bottom: 20px;
    }
    #dataForm {
        display: flex;
        flex-direction: row; 
        align-items: center;
        gap: 10px;
    }
    .form-row {
        display: flex;
        align-items: center;
        gap: 47px;
        height: 40px;
        margin-right: 40px;
    }
    #dateGroup {
        margin-right: 90px;
    }
    label {
        font-size: 1.2em;
        display: flex;
        align-items: center;
    }
    input[type="text"] {
        font-size: 0.9em;
        padding: 0px 10px;
        width: 130px;
        height: 40px;
        box-sizing: border-box;
        margin-left: -27px;
        border-radius: 5px; /* 모서리를 둥글게 설정 */
        border: 1px solid #a3a3a3;
    }
    input::placeholder {
        color: #888;
    }
    input:focus::placeholder {
        color: transparent;
    }
    button {
        font-size: 1em;
        padding: 0px 10px;
        height: 42px;
        display: flex;
        align-items: center;
        border-radius: 5px; /* 모서리를 둥글게 설정 */
        border: 1px solid #a3a3a3;
        cursor : pointer;
    }
    .explanation {
        display: flex;
        flex-direction: row;
        gap: 60px;
        align-items: center;
        margin-top: -50px;
    }
    #buttonContainer {
        display: flex;
        padding: 10px;
        font-size: 14px;
        cursor: pointer;
        gap: 7px;
        margin-left: 20px;
    }
    button {
        margin-top: 10px;
        cursor : pointer;
        margin-left: 10px;
        text-align: center;
        white-space: pre-wrap;
        word-break:break-word;
    }
    .table-container {
    margin-bottom: 50px; /* 테이블 사이의 여백 추가 */
    }
    .hidden {
        display: none;
    }
    h2{
        margin-left:10px;
        margin-bottom:10px;
    }
</style>
<div class="form-container">
    <div class="form-container">
        <form id="dataForm" action="/show_SK-data" method="POST">
            <div class="form-row" id="dateGroup">
                <label for="date">Date:</label>
                <input type="text" id="date" name="date" placeholder="YYYYMMDD" required>
            </div>
            <div class="form-row">
                <label for="time">Time:</label>
                <input type="text" id="time" name="time" placeholder="HH" required>
            </div>
            <button type="submit">조회</button>
            <div id="buttonContainer"></div>
        </form>    
    </div>
    <div class="explanation">
        <div class="current-date" id="currentDate"></div>
        <p id="availabiltyTimeElement">조회 가능 시간: 05시 ~ 23시</p>
    </div>
</div>

<div class="content">
    <h2 id="heading1" class="hidden">출구 통행자 수</h2>
    <div id="tableContainer1" class="table-container"></div>
</div>
<div class="content">
    <h2 id="heading2" class="hidden">1호선 객차별 하차 비율</h2>
    <div id="tableContainer2" class="table-container"></div>
</div>
<div class="content">
    <h2 id="heading3" class="hidden">4호선 객차별 하차 비율</h2>
    <div id="tableContainer3" class="table-container"></div>
</div>
<div class="content">
    <h2 id="heading4" class="hidden">1호선 열차 혼잡도</h2>
    <div id="tableContainer4" class="table-container"></div>
</div>
<div class="content">
    <h2 id="heading5" class="hidden">4호선 열차 혼잡도</h2>
    <div id="tableContainer5" class="table-container"></div>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='skData_script.js') }}"></script>
{% endblock %}